<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/header'); %>
  <body>
    <%- include('../partials/nav'); %>

    <div class="constrained-full-height" id="page-edit-listing">
      <div class="container">
        <h1>Edit Listing</h1>
        <form
          method="POST"
          action="/listings/<%=listing._id%>?_method=PUT"
          enctype="multipart/form-data"
          autocomplete="off"
        >
          <%- include('../partials/errors'); %>

          <!-- prompt user to upload image -->
          <div class="mb-3 justify-center">
            <label for="listing_image" class="form-label ps-0">Upload Listing Image</label>
            <input type="file" class="form-control" id="listing_image" name="listing_image" />
          </div>

          <!-- prompt user about pickup location (set it to be sign up location for now) -->

          <div class="mb-3 justify-center">
            <label for="listing_name" class="form-label ps-0">Listing name</label>
            <input
              type="text"
              class="form-control"
              id="listing_name"
              name="listing_name"
              value="<%=listing.listing_name%>"
              required
            />
          </div>

          <div class="mb-3 justify-center">
            <label for="description" class="form-label ps-0">Description (optional)</label>
            <textarea
              class="form-control"
              value="<%=listing.description%>"
              id="description"
              name="description"
              rows="3"
            ></textarea>
          </div>

          <div class="mb-3 justify-center">
            <label for="pick_up_days_and_times" class="form-label ps-0"
              >Pick up days and times</label
            >
            <input
              type="text"
              class="form-control"
              value="<%=listing.pick_up_days_and_times%>"
              id="pick_up_days_and_times"
              name="pick_up_days_and_times"
              required
            />
          </div>
          <div class="mb-3 justify-center">
            <label for="category" class="form-label ps-0">Category</label>
            <select name="category" id="categoryOptions">
              <option class="<%=categoryForm["rice-and-noodles"]%>" value="rice-and-noodles">Rice and noodles</option>
              <option class="<%=categoryForm["bread-and-pastry"]%>" value="bread-and-pastry">Bread and pastry</option>
              <option class="<%=categoryForm["snacks"]%>" value="snacks">Snacks</option>
              <option class="<%=categoryForm["fresh-produce"]%>" value="fresh-produce">Fresh produce</option>
              <option class="<%=categoryForm["condiments"]%>" value="condiments">Condiments</option>
              <option class="<%=categoryForm["canned-food"]%>" value="canned-food">Canned food</option>
              <option class="<%=categoryForm["beverage"]%>" value="beverage">Beverage</option>
              <option class="<%=categoryForm["chilled-and-frozen-food"]%>" value="chilled-and-frozen-food">Chilled and frozen food</option>
            </select>
          </div>

          <div class="mb-3 justify-center">
            <label for="expiry_date" class="form-label ps-0">Expiry Date</label>
            <input
              type="date"
              value="<%=expiryDate%>"
              class="form-control"
              id="expiry_date"
              name="expiry_date"
              required
            />
          </div>
          <div class="mb-3 text-center">
            <input type="submit" value="Save changes" class="btn btn-primary" /><br /><br />
          </div>
        </form>
      </div>
    </div>
    <%- include('../partials/footer'); %>
    <script src="/scripts/filters_select.js"></script>
  </body>
</html>
