<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/header'); %>
  <body>
    <%- include('../partials/nav'); %>

    <div class="constrained-full-height" id="page-index-listings">
      <div class="container">
        <h1>All Listings</h1>
        <form method="GET" action="/listings">
          <div class="sorts">
            <h6>Sort by:</h6>
            <div class="form-check form-check-inline">
              <input class="form-check-input mr-3" type="radio" name="sort" id="latest" checked />
              <label class="form-check-label" for="latest"> Latest</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="sort" id="nearest" />
              <label class="form-check-label" for="nearest"> Nearest </label>
            </div>
          </div>
          <div class="mt-3 expiry-status">
            <h6>Expiry Status:</h6>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="checkbox"
                name="not-expired"
                id="not-expired"
                checked
              />
              <label class="form-check-label" for="not-expired">Not expired</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" name="expired" id="expired" checked />
              <label class="form-check-label" for="expired">Expired</label>
            </div>
          </div>
          <div class="mt-3 categories">
            <h6>Categories:</h6>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="checkbox"
                name="rice-and-noodles"
                id="rice-and-noodles"
                checked
              />
              <label class="form-check-label" for="rice-and-noodles">Rice and Noodles</label>
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="checkbox"
                name="bread-and-pastry"
                id="bread-and-pastry"
                checked
              />
              <label class="form-check-label" for="bread-and-pastry">Bread and Pastry</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" name="snacks" id="snacks" checked />
              <label class="form-check-label" for="snacks">Snacks</label>
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="checkbox"
                name="fresh-produce"
                id="fresh-produce"
                checked
              />
              <label class="form-check-label" for="fresh-produce">Fresh Produce</label>
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="checkbox"
                name="condiments"
                id="condiments"
                checked
              />
              <label class="form-check-label" for="condiments">Condiments</label>
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="checkbox"
                name="canned-food"
                id="canned-food"
                checked
              />
              <label class="form-check-label" for="canned-food">Canned Food</label>
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="checkbox"
                name="beverage"
                id="beverage"
                checked
              />
              <label class="form-check-label" for="beverage">Beverage</label>
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="checkbox"
                name="chilled-and-frozen-food"
                id="chilled-and-frozen-food"
                checked
              />
              <label class="form-check-label" for="chilled-and-frozen-food"
                >Chilled and Frozen Food</label
              >
            </div>
          </div>

          <input class="mt-3 mb-3 btn btn-primary" type="submit" value="Apply" />
        </form>
        <main class="listings">
          <!-- filter and display listings here -->
          <%listings.forEach(listing => {%>
          <div class="mb-5 listing">
            <h4><%=listing.listing_name%></h4>
            <h5>Posted by: <%=listing.user.username%></h5>
            <p>Distance away: <%=listing.distance_away%> km</p>
            <p>Expiry date: <%=listing.expiry_date.toDateString() %></p>
          </div>

          <%})%>
        </main>
      </div>
    </div>
    <%- include('../partials/footer'); %>
    <script src="/scripts/filters.js"></script>
  </body>
</html>
