<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/header'); %>
  <body>
    <%- include('../partials/nav'); %>

    <div class="constrained-full-height" id="page-new-listing">
      <div class="container">
        <h1>Create a new listing</h1>
        <form method="POST" action="/listings/" enctype="multipart/form-data" autocomplete="off">
          <%- include('../partials/errors'); %>

          <!-- prompt user to upload image -->
          <div class="mb-3 justify-center">
            <label for="listing_image" class="form-label ps-0">Upload Listing Image</label>
            <input type="file" class="form-control" id="listing_image" name="listing_image" />
          </div>

          <!-- prompt user about pickup location (set it to be sign up location for now) -->

          <div class="mb-3 justify-center">
            <label for="listing_name" class="form-label ps-0">Listing name</label>
            <input
              type="text"
              class="form-control"
              id="listing_name"
              name="listing_name"
              required
            />
          </div>

          <div class="mb-3 justify-center">
            <label for="description" class="form-label ps-0">Description (optional)</label>
            <textarea name="description" class="form-control" id="description" rows="3"></textarea>
            <!-- <input type="text" class="form-control" id="description" name="description" /> -->
          </div>

          <div class="mb-3 justify-center">
            <label for="pick_up_days_and_times" class="form-label ps-0"
              >Pick up days and times</label
            >
            <input
              type="text"
              class="form-control"
              id="pick_up_days_and_times"
              name="pick_up_days_and_times"
              required
            />
          </div>
          <div class="mb-3 justify-center">
            <label for="category" class="form-label ps-0">Category</label>
            <select name="category" id="categoryOptions">
              <option value="rice-and-noodles">Rice and noodles</option>
              <option value="bread-and-pastry">Bread and pastry</option>
              <option value="snacks">Snacks</option>
              <option value="fresh-produce">Fresh produce</option>
              <option value="condiments">Condiments</option>
              <option value="canned-food">Canned food</option>
              <option value="beverage">Beverage</option>
              <option value="chilled-and-frozen-food">Chilled and frozen food</option>
            </select>
          </div>

          <!-- <div class="mb-3 justify-center">
            <label for="category" class="form-label ps-0">Category</label>
            <input
              type="text"
              class="form-control"
              list="categoryOptions"
              id="category"
              name="category"
              autocomplete="off"
              required
            />
            <datalist id="categoryOptions">
              <option value="Rice and Noodles"></option>
              <option value="Bread and Pastry"></option>
              <option value="Snacks"></option>
              <option value="Fresh Produce"></option>
              <option value="Condiments"></option>
              <option value="Canned Food"></option>
              <option value="Beverage"></option>
              <option value="Chilled and Frozen Food"></option>
            </datalist>
          </div> -->

          <div class="mb-3 justify-center">
            <label for="expiry_date" class="form-label ps-0">Expiry Date</label>
            <input
              type="date"
              value="<%=todayDate%>"
              class="form-control"
              id="expiry_date"
              name="expiry_date"
              required
            />
          </div>
          <input type="hidden" name="referer" value="<%=referer%>" />
          <div class="mb-3 text-center">
            <input type="submit" value="Upload Listing" class="btn btn-primary" /><br /><br />
          </div>
        </form>
      </div>
    </div>
    <%- include('../partials/footer'); %>
  </body>
</html>
