<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/header'); %>
  <body>
    <%- include('../partials/nav'); %>

    <div class="constrained-full-height" id="page-show-listings">
      <div class="container pt-5">
        <!-- Listing name -->
        <%- include('../partials/errors'); %> <%if(listing){%>
        <main class="listing p-3">
          <div id="api-key" style="display: none"><%=apiKey%></div>
          <div id="poster-user-location" style="display: none"><%=listing.user.location%></div>
          <h1><%=listing.listing_name%></h1>
          <h5 class="status"><%=listing.status%></h5>
          <h5>
            Posted by <a href="/users/<%=listing.user.username%>"><%=listing.user.username%></a> on
            <%=listing.date_posted.toLocaleString()%>
          </h5>
          <div class="d-flex">
            <img class="show-listing-img" src="<%=listing.listing_image_url%>" alt="" />
            <div class="d-flex flex-column justify-content-center ms-5">
              <%if (listing.description){%>
              <p>Description: <%=listing.description%></p>
              <%}%>
              <p>Pick up days and times: <%=listing.pick_up_days_and_times%></p>
              <p>Distance away: <%=listing.distance_away%> km</p>
              <p>Expiry date: <%=listing.expiry_date.toDateString() %></p>
              <%if(currentUserIsPoster){%>
              <div>
                <a href="/listings/<%=listing._id%>/edit" class="btn btn-secondary">Edit Listing</a>
                <form
                  method="POST"
                  style="display: inline-block"
                  action="/listings/<%= listing._id %>?_method=DELETE"
                >
                  <input type="hidden" name="referer" value="<%=referer%>" />
                  <button type="submit" class="btn btn-danger">Delete Listing</button>
                </form>
              </div>

              <%} else {%>
              <a href="" class="btn btn-success">Chat</a>
              <%}%> <%}%>
            </div>
          </div>

          <div class="map mt-3 text-center" id="map"></div>
        </main>
      </div>
    </div>
    <%- include('../partials/footer'); %>
    <script
      src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
      integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
      crossorigin=""
    ></script>
    <!-- Load Esri Leaflet from CDN -->
    <script src="https://unpkg.com/esri-leaflet"></script>
    <script src="https://unpkg.com/esri-leaflet-geocoder"></script>
    <script src="/scripts/map_show_listing.js"></script>
  </body>
</html>
