<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/header'); %>
  <body>
    <%- include('../partials/nav'); %>

    <div class="constrained-full-height" id="page-index-listings">
      <div class="container">
        <%- include('../partials/errors'); %> <%if (!errorMsg){%>
        <h1 class="pt-4"><%=username%>'s Listings</h1>
        <%if(isProfileOwner){%>
        <a class="btn btn-success" href="/listings/new">Create new listing</a>
        <%} }%>
        <main class="listings">
          <!-- filter and display listings here -->
          <%listings.forEach(listing => {%>

          <div class="mb-5 p-3 listing">
            <h4><%=listing.listing_name%></h4>
            <h5 class="status"><%=listing.status%></h5>
            <h5>Posted on <%=listing.date_posted.toLocaleString()%></h5>
            <div class="d-flex">
              <img class="profile-listing-img" src="<%=listing.listing_image_url%>" alt="" />
              <div class="d-flex flex-column justify-content-center ms-5">
                <p>Category: <%=listing.category%></p>
                <p>Distance away: <%=listing.distance_away%> km</p>
                <p>Expiry date: <%=listing.expiry_date.toDateString() %></p>
                <div>
                  <a class="btn btn-success" href="/listings/<%= listing._id %>">View</a>
                </div>
              </div>
            </div>
          </div>

          <%})%>
        </main>
      </div>
    </div>
    <%- include('../partials/footer'); %>
    <script src="/scripts/filters_input.js"></script>
  </body>
</html>
