<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/header'); %>
  <body>
    <%- include('../partials/nav'); %>

    <div class="constrained-full-height" id="page-index-listings">
      <div class="container">
        <%- include('../partials/errors'); %> <%if (!errorMsg){%>
        <h1><%=username%>'s Listings</h1>
        <a class="btn btn-primary" href="/listings/new">Create new listing</a>

        <%}%>
        <main class="listings">
          <!-- filter and display listings here -->
          <%listings.forEach(listing => {%>

          <div class="mb-5 listing">
            <h4><%=listing.listing_name%></h4>
            <h5>Posted on <%=listing.date_posted.toLocaleString()%></h5>
            <p>Category: <%=listing.category%></p>
            <p>Distance away: <%=listing.distance_away%> km</p>
            <p>Expiry date: <%=listing.expiry_date.toDateString() %></p>
            <a class="btn btn-success" href="/listings/<%= listing._id %>">View</a>
          </div>

          <%})%>
        </main>
      </div>
    </div>
    <%- include('../partials/footer'); %>
    <script src="/scripts/filters_input.js"></script>
  </body>
</html>
